@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
.Quotes {
  opacity: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 90%;
  padding: 0 1rem;
  height: 85%;
  border-radius: 8px;
  line-height: 1.5rem;
  animation: QuotesFadeIn 1s 0.7s forwards;
}

.Quotes__borderLine {
  width: 80%;
  border-bottom: 1px solid #cdcdcd;
  margin: 0.5rem;
}

.Quotes__quote {
  @font-face {
    font-family: "IBMPlexSansKR-ExtraLight";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-ExtraLight.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  font-size: 0.8rem;
}

.Quotes__speaker {
  font-size: 0.7rem;
  align-self: flex-end;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  text-align: right;
}

@keyframes QuotesFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
