.Weather {
  box-sizing: border-box;
  color: #ededed;
  display: grid;
  grid-template-areas:
    "header header header"
    "line line line"
    "icon temp perception";
  grid-gap: 10px;
  margin: 10px;
  padding: 10px 10px;
  padding-bottom: 0;
  border-radius: 12px;
  vertical-align: middle;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  row-gap: 0;
  column-gap: 0rem;
}

.Weather__title {
  font-weight: 200;
  font-size: 23px;
  grid-area: header;
  text-align: center;
}

.Weather__icon {
  background-color: #b9d2eb;
  border-radius: 8px;
  margin: 10px;
  opacity: 1;
  text-align: center;
  width: 60px;
  height: 60px;
  grid-area: icon;
  box-shadow: 0 4px #666;
  cursor: pointer;
}

.Weather__icon:hover {
  transition: 100ms ease-in;
  background-color: #a4c0dd;
}

.Weather__icon:active {
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}

.Weather__styleLine {
  background-color: #ededed;
  border-bottom: #ededed;
  grid-area: line;
  margin: 10px 0;
  height: 3px;
  width: 100%;
}

.Weather__temp {
  font-size: 14px;
  grid-area: temp;
  text-align: center;
}

.Weather__perception {
  font-size: 14px;
  grid-area: perception;
  text-align: center;
}

.Weather__secondLine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Weather__content {
  display: flex;
  align-items: center;
}

.Weather__weekly__visible {
  color: black;
  display: flex;
  box-sizing: border-box;
  border: 7px solid #a4c0dd;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: absolute;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  margin-left: 20%;
  overflow: hidden;
  width: 10%;
  border-radius: 8px;
  animation: showForecast 0.2s ease-out forwards;
}

.Weather__weekly__invisible {
  display: none;
}

.Weather__weekly__content {
  font-size: 0.7rem;
}

@keyframes showForecast {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
