.IconLink__content {
  display: inline-block;
  margin: 0px 2rem;
  text-align: center;

  div {
    color: black;
    margin: 7px;
    font-size: 0.95rem;
  }
}

.IconLink__content:hover {
  cursor: pointer;
  transition: 100ms ease-in;
  transform: scale(1.1);
}
