.Main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Main__slogan {
  line-height: 4rem;
}

.Main__slogan__1 {
  font-size: 2.8rem;
}

.Main__slogan__2 {
  font-size: 1.4rem;
  text-align: right;
}
