.Notice {
  opacity: 0;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  animation: NotifadeIn 1s 0.3s forwards;
}

.Notice__border {
  width: 100%;
  margin: 0.6rem 0;
  border-bottom: 1px solid #cdcdcd;
}

.Notice__general {
  width: 40%;
}

.Notice__academy {
  width: 40%;
}

.Notice__container {
  margin: 8px 0;
  article {
    font-size: 0.9rem;
    margin: 12px 0;
    max-width: 25ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  article {
    cursor: pointer;
    > a {
      text-decoration: none;
      color: black;
    }
    > a:hover {
      color: #40368a;
    }
  }
  article:hover {
    transition: 80ms ease-in;
    font-weight: 800;
  }
  .article__new:before {
    content: "· ";
    color: red;
  }
}

@keyframes NotifadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
