* {
  margin: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Top {
  display: flex;
  flex: 1;
  width: 100%;
}

.Main {
  display: flex;
  flex: 5;
  width: 100%;
}

.Footer {
  display: flex;
  flex: 1;
  width: 100%;
}
