.CheckUpdate__icon {
  opacity: 0.8;
  width: 25px;
  background-color: white;
  position: absolute;
  right: 100px;
  text-align: center;
  bottom: 20px;
  padding: 0.8rem;
  border: 4px solid #3f3f3f;
  border-radius: 25%;
  cursor: pointer;
}

.CheckUpdate__icon:hover {
  transition: 200ms ease-in;
  background-color: #a0cada;
  animation: tremble 1s infinite;
}

.CheckUpdate__status {
  opacity: 0.8;
  color: rgba(255, 255, 255, 0.753);
  position: absolute;
  text-align: center;
  border: 4px solid #3f3f3f;
  padding: 0.75rem;
  font-weight: 300;
  right: 100px;
  bottom: 20px;
  border-radius: 8px;
}
